<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %>
    <body>
        <%- include("./partials/nav") %>
        <main class="main main-about">
            <div class="wrapper">
                <h3 class="about-title">something about me</h3>
                <p class="about-me">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolores corrupti eaque ipsa consequuntur facere, amet,
                    possimus ea odio quisquam nihil dicta quas id nesciunt,
                    voluptatum aliquam aut ad! Natus, dicta?
                </p>
                <img
                    id="my-picture"
                    src="images/me.png"
                    alt="Me on the picture."
                />
                <h4>things I like</h4>
                <ul class="about-me">
                    <li>&#8608; learning &#8606;</li>
                    <li>&#8608; programming &#8606;</li>
                    <li>&#8608; gardening &#8606;</li>
                    <li>&#8608; movies &#8606;</li>
                    <li>&#8608; video games &#8606;</li>
                    <li>&#8608; networking &#8606;</li>
                    <li>&#8608; reading &#8606;</li>
                    <li style="color: black; font-style: italic">
                        &#8608; almost everything &#8606;<br />
                        &#8608; and doing nothing &#8606;
                    </li>
                </ul>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
