* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

html,
body {
    height: 100%;
    display: flex;
    flex-flow: column;
}

h3,
h4,
li {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 14px 0 14px 0;
    text-align: center;
}

#place-for-canvas,
.main {
    flex-grow: 1;
    overflow: hidden;
}

/* #region About Me */
.about-title {
    margin: 14px 0 14px 0;
}

.about-me {
    margin: 0 14px 0 14px;
    text-align: center;
}

.about-me li {
    text-align: center;
    padding: 14px;
}

.about-me li:nth-child(even) {
    color: #405d27;
}

.about-me li:nth-child(odd) {
    color: #c1946a;
}

#my-picture {
    /* border: 5px solid black; */
    /* border-radius: 50%; */
    display: block;
    margin: 14px auto 64px auto;
    width: 25vh;
}

.main-about {
    display: flex;
    flex-flow: column;
    overflow-y: scroll;

    /* firefox */
    scrollbar-width: thin;
    scrollbar-color: #82b74b #fff;
}
/* #endregion */

/* #region Journal */
.main-journals {
    overflow-y: scroll;

    /* firefox */
    scrollbar-width: thin;
    scrollbar-color: #82b74b #fff;
}

.journal {
    position: relative;
    margin: 14px 14px 0 14px;
}

.journal:not(:first-child) {
    margin-top: 56px;
}

.journal:last-child {
    margin-bottom: 14px;
}

.journal-top {
    display: flex;
    background-color: rgb(40, 40, 40);
    color: #fff;
    border-radius: 14px;
    padding: 5px;
}

.journal-date {
    margin: 0 0 0 30px;
}

.journal-day {
    position: absolute;
    width: 160px;
    margin-left: calc(100% - 180px);
    text-align: right;
}

.journal-content {
    /*font-size: 1.3em;*/
    overflow-x: auto;
    /*min-height: 1.3em;*/
    /*padding-bottom: 5px;*/
    text-align: center;
    margin: 14px 36px 0 36px;

    /* firefox */
    scrollbar-width: thin;
    scrollbar-color: #82b74b #fff;
}
/* #endregion */

/* #region My Projects */
.myprojects-title {
    margin: 14px 0 14px 0;
}

.main-projects {
    padding: 0 14px 0 14px;
    overflow-y: scroll;

    /* firefox */
    scrollbar-width: thin;
    scrollbar-color: #82b74b #fff;
}

.projects-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 10%;
}

.project-item {
    /* border: 5px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    box-sizing: border-box;
}

.project-item img {
    width: 50%;
    border: 1px solid rgb(40, 40, 40);
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 14px;
}

.project-info {
    display: block;
    box-sizing: border-box;
    /* border: 5px solid black; */
    width: 50%;
    margin: 0 auto;
    padding: 14px;
}
/* #endregion */

/* ******************* */
/* ******************* */
/* ******************* */
/* ******************* */
/* ******************* */
/* ******************* */
/* ******************* */

a {
    color: #fff;
}

.nav {
    background-color: #405d27;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}

.nav ul a {
    display: block;
    outline: 1px solid #82b74b;
    padding: 20px;
    border-right: 1px solid blue;
    text-decoration: none;
}

.nav ul a:hover {
    background-color: #82b74b;
    color: rgb(40, 40, 40);
}

.nav .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

.nav .logo:hover {
    background-color: #82b74b;
    color: rgb(40, 40, 40);
}

.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.nav .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav .menu-icon .nav-icon {
    background-color: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
}

.nav .menu-icon .nav-icon:before {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2 ease-out;
    top: 5px;
}

.nav .menu-icon .nav-icon:after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2 ease-out;
    top: -5px;
}

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

/* #region Media Styles */
@media screen and (max-width: 960px) {
    body {
        background-color: #82b74b;
    }

    .project-item img,
    .project-info {
        width: 100%;
    }

    .project-item {
        margin-bottom: 28px;
    }
}

@media screen and (min-width: 960px) {
    body {
        background-color: #df8c8c;
    }

    .wrapper {
        margin: 0 20% 0 20%;
    }

    .nav ul {
        background-color: #405d27;
    }

    .nav li {
        float: left;
    }
    .nav li a {
        padding: 20px 30px;
    }
    .nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .nav .menu-icon {
        display: none;
    }
}
/* #endregion */
