<nav>
    <ul class="menu">
        <div class="menu-left">
            <li><a href="/">Home</a></li>
        </div>
        <div class="menu-right">
            <li><a href="/about">About</a></li>
            <li><a href="/journal">Journal</a></li>
            <li><a href="/myProjects">My Projects</a></li>
            <li style="display: testing"><a href="/testing">Testing</a></li>
        </div>
    </ul>
</nav>
